body.dark .header {
  background: linear-gradient(#4e4e4e, #454444);
  color: rgba(255, 255, 255, 0.8);
}
body.dark .toolbar-button {
  background: linear-gradient(#7b7b7b, #737373);
}
body.dark .toolbar-button [class^="ui-icon"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .toolbar-action:not(.toolbar-action-active):not([disabled]) .toolbar-button:hover {
  background: linear-gradient(#bfbfbf, #989898);
}
body.dark .toolbar-item-divider {
  border-left-color: #5a5a5a;
}
body.dark .toolbar-action-selector {
  background: linear-gradient(#7b7b7b, #737373);
}
body.dark .toolbar-action-selector [class^="ui-icon"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .toolbar-action-group .toolbar-action + .toolbar-action .toolbar-button {
  border-left-color: rgba(0, 0, 0, 0.1);
}
body.dark .toolbar-action-active .toolbar-button {
  background: #00b26a;
}
body.dark .simulator-toolbar {
  background: linear-gradient(#424242, #3c3c3c);
  border-top-color: #5a5a5a;
  border-bottom-color: #000000;
  color: rgba(255, 255, 255, 0.7);
}
body.dark .simulator-toolbar [class^="ui-icon"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .simulator-toolbar-action a:not(:last-child) {
  border-right-color: #5a5a5a;
}
body.dark .simulator-toolbar-item {
  border-right-color: #5a5a5a;
}
body.dark .simulator-shell {
  background: #1e1e1e;
}
body.dark .simulator-status-bar {
  border-color: #5a5a5a;
  background: linear-gradient(#424242, #3c3c3c);
  color: rgba(255, 255, 255, 0.8);
}
body.dark .simulator-status-bar > .ui-flex + .ui-flex {
  border-left-color: #5a5a5a;
}
body.dark .monaco-main {
  border-color: #5a5a5a;
}
body.dark .sidebar {
  background: #242424;
  color: rgba(255, 255, 255, 0.7);
  border-right-color: #5a5a5a;
}
body.dark .sidebar-header {
  background: linear-gradient(#424242, #3c3c3c);
  border-bottom-color: #000000;
}
body.dark .sidebar-header [class^="ui-icon"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .sidebar-body [class^="ui-icon-tree-arrow"],
body.dark .sidebar-body [class^="ui-icon-folder"],
body.dark .sidebar-body [class="ui-icon-cloud-function"],
body.dark .sidebar-body [class="ui-icon-cloud-function-dir"],
body.dark .sidebar-body [class="ui-icon-file-img"],
body.dark .sidebar-body [class="ui-icon-file"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .workbench {
  border-left-color: #5a5a5a;
}
body.dark .editor {
  background: #1e1e1e;
}
body.dark .editor-tabs {
  background: linear-gradient(#424242, #3c3c3c);
}
body.dark .editor-tabs:after {
  border-bottom-color: #000000;
}
body.dark .editor-tabs-item-wrapper {
  background: linear-gradient(#424242, #3c3c3c);
  color: rgba(255, 255, 255, 0.7);
}
body.dark .editor-tabs-collpase {
  border-right-color: #5a5a5a;
}
body.dark .editor-tabs-collpase [class^="ui-icon"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .editor-tabs-item-active {
  background: #2a2a2a;
  border-left-color: #5a5a5a;
  border-right-color: #5a5a5a;
}
body.dark .editor-tabs-item-active:after {
  background: #000;
}
body.dark .monaco-status,
body.dark .readme-ft {
  background: linear-gradient(#424242, #3c3c3c);
  color: rgba(255, 255, 255, 0.8);
  border-top-color: #5a5a5a;
}
body.dark .monaco-status [class^="ui-icon"],
body.dark .readme-ft [class^="ui-icon"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .menu {
  background: #2b2b2b;
}
body.dark .menu [class^="ui-icon-menu-arrow"] {
  background: rgba(255, 255, 255, 0.9);
}
body.dark .menu-item {
  color: #ffffff;
}
body.dark .devtools {
  background: #242424;
  border-top-color: #5a5a5a;
}
body.dark .ui-selector-input {
  color: rgba(255, 255, 255, 0.7);
}
body.dark .ui-selector-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/*# sourceMappingURL=dark.css.map */
