html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;
  user-select: none;
}
label {
  cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  color: #000000;
  cursor: pointer;
}
img {
  -webkit-user-drag: none;
}
body {
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #c3c3c3;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.ui-selectable {
  user-select: text;
}
.ui-desc {
  color: #888888;
}
.ui-icon-plus {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  -webkit-mask: url("svg/plus.svg") no-repeat 50% 50%;
          mask: url("svg/plus.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-clear {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  -webkit-mask: url("svg/clear.svg") no-repeat 50% 50%;
          mask: url("svg/clear.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-search {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 12px;
  -webkit-mask: url("svg/search.svg") no-repeat 50% 50%;
          mask: url("svg/search.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-bars {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  -webkit-mask: url("svg/bars.svg") no-repeat 50% 50%;
          mask: url("svg/bars.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-backstage {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 10px;
  -webkit-mask: url("svg/backstage.svg") no-repeat 50% 50%;
          mask: url("svg/backstage.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-beaker {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 10px;
  -webkit-mask: url("svg/beaker.svg") no-repeat 50% 50%;
          mask: url("svg/beaker.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-eye {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 10px;
  -webkit-mask: url("svg/eye.svg") no-repeat 50% 50%;
          mask: url("svg/eye.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-forbidden {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/forbidden.svg") no-repeat 50% 50%;
          mask: url("svg/forbidden.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #6e6e6e;
}
.ui-icon-cache {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 13px;
  -webkit-mask: url("svg/cache.svg") no-repeat 50% 50%;
          mask: url("svg/cache.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-refresh {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/refresh.svg") no-repeat 50% 50%;
          mask: url("svg/refresh.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-refresh-o {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 15px;
  -webkit-mask: url("svg/refresh-o.svg") no-repeat 50% 50%;
          mask: url("svg/refresh-o.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-upload {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 11px;
  -webkit-mask: url("svg/upload.svg") no-repeat 50% 50%;
          mask: url("svg/upload.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-cloud {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 10px;
  -webkit-mask: url("svg/cloud.svg") no-repeat 50% 50%;
          mask: url("svg/cloud.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-cloud-develop {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 11px;
  -webkit-mask: url("svg/cloud-develop.svg") no-repeat 50% 50%;
          mask: url("svg/cloud-develop.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-bug {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 14px;
  -webkit-mask: url("svg/bug.svg") no-repeat 50% 50%;
          mask: url("svg/bug.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-arrow-down-circle {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/arrow-down-circle.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-down-circle.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-arrow-up-circle {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/arrow-up-circle.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-up-circle.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-refresh-spinner {
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui-icon-simulator {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 12px;
  -webkit-mask: url("svg/simulator.svg") no-repeat 50% 50%;
          mask: url("svg/simulator.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-debug {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 8px;
  -webkit-mask: url("svg/debug.svg") no-repeat 50% 50%;
          mask: url("svg/debug.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-editor {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 8px;
  -webkit-mask: url("svg/editor.svg") no-repeat 50% 50%;
          mask: url("svg/editor.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/toggle.svg") no-repeat 50% 50%;
          mask: url("svg/toggle.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #555555;
}
.ui-icon-folder-o {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 11px;
  -webkit-mask: url("svg/folder-o.svg") no-repeat 50% 50%;
          mask: url("svg/folder-o.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-folder {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 11px;
  -webkit-mask: url("svg/folder.svg") no-repeat 50% 50%;
          mask: url("svg/folder.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-close {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  -webkit-mask: url("svg/close.svg") no-repeat 50% 50%;
          mask: url("svg/close.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #888888;
}
.ui-icon-spinner {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -webkit-mask: url("svg/spinner.svg") no-repeat 50% 50%;
          mask: url("svg/spinner.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #b3b3b3;
}
.ui-icon-circle-cross {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/circle-cross.svg") no-repeat 50% 50%;
          mask: url("svg/circle-cross.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-radius: 50%;
}
.ui-icon-collapse {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 12px;
  -webkit-mask: url("svg/collapse.svg") no-repeat 50% 50%;
          mask: url("svg/collapse.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-collapse-r {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 12px;
  -webkit-mask: url("svg/collapse-r.svg") no-repeat 50% 50%;
          mask: url("svg/collapse-r.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-dots {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 2px;
  -webkit-mask: url("svg/dots.svg") no-repeat 50% 50%;
          mask: url("svg/dots.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-tick {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 9px;
  -webkit-mask: url("svg/tick.svg") no-repeat 50% 50%;
          mask: url("svg/tick.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #00c777;
}
.ui-icon-aa {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 12px;
  -webkit-mask: url("svg/aa.svg") no-repeat 50% 50%;
          mask: url("svg/aa.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-accurate {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 13px;
  -webkit-mask: url("svg/accurate.svg") no-repeat 50% 50%;
          mask: url("svg/accurate.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-finder-close {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  -webkit-mask: url("svg/finder-close.svg") no-repeat 50% 50%;
          mask: url("svg/finder-close.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #888888;
}
.ui-icon-miniapp {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 11px;
  -webkit-mask: url("svg/miniapp.svg") no-repeat 50% 50%;
          mask: url("svg/miniapp.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #7586db;
}
.ui-icon-magnifier {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  -webkit-mask: url("svg/magnifier.svg") no-repeat 50% 50%;
          mask: url("svg/magnifier.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}
.ui-icon-arrow-down {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 3px;
  -webkit-mask: url("svg/arrow-down.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-down.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-arrow-down-o {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 5px;
  -webkit-mask: url("svg/arrow-down-o.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-down-o.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000000;
}
.ui-icon-arrow-up {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 3px;
  -webkit-mask: url("svg/arrow-up.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-up.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-arrow-up-o {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 5px;
  -webkit-mask: url("svg/arrow-up-o.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-up-o.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #888888;
}
.ui-icon-arrow-right-o {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 7px;
  -webkit-mask: url("svg/arrow-right-o.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-right-o.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-double-arrow-right {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 11px;
  -webkit-mask: url("svg/double-arrow-right.svg") no-repeat 50% 50%;
          mask: url("svg/double-arrow-right.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #979797;
}
.ui-icon-editor-close {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  -webkit-mask: url("svg/editor-close.svg") no-repeat 50% 50%;
          mask: url("svg/editor-close.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #888;
}
.ui-icon-tree-arrow-down {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 5px;
  -webkit-mask: url("svg/tree-arrow-down.svg") no-repeat 50% 50%;
          mask: url("svg/tree-arrow-down.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-tree-arrow-right {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 8px;
  -webkit-mask: url("svg/tree-arrow-right.svg") no-repeat 50% 50%;
          mask: url("svg/tree-arrow-right.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-menu-arrow-right {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 10px;
  -webkit-mask: url("svg/menu-arrow-right.svg") no-repeat 50% 50%;
          mask: url("svg/menu-arrow-right.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-notify-close {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  -webkit-mask: url("svg/notify-close.svg") no-repeat 50% 50%;
          mask: url("svg/notify-close.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #888888;
}
.ui-icon-luncher-close {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  -webkit-mask: url("svg/luncher-close.svg") no-repeat 50% 50%;
          mask: url("svg/luncher-close.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #5e5e5e;
}
.ui-icon-cog {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  -webkit-mask: url("svg/cog.svg") no-repeat 50% 50%;
          mask: url("svg/cog.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #5e5e5e;
}
.ui-icon-cogs {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/cogs.svg") no-repeat 50% 50%;
          mask: url("svg/cogs.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-pen-in-square {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/pen-in-square.svg") no-repeat 50% 50%;
          mask: url("svg/pen-in-square.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-mini-app {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  -webkit-mask: url("svg/mini-app.svg") no-repeat 50% 50%;
          mask: url("svg/mini-app.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #ffffff;
}
.ui-icon-user {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 20px;
  -webkit-mask: url("svg/user.svg") no-repeat 50% 50%;
          mask: url("svg/user.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #ffffff;
}
.ui-icon-locating {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 8px;
  -webkit-mask: url("svg/locating.svg") no-repeat 50% 50%;
          mask: url("svg/locating.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-recording {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 8px;
  -webkit-mask: url("svg/recording.svg") no-repeat 50% 50%;
          mask: url("svg/recording.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-back {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 11px;
  -webkit-mask: url("svg/back.svg") no-repeat 50% 50%;
          mask: url("svg/back.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000000;
}
.ui-icon-pencil {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 13px;
  -webkit-mask: url("svg/pencil.svg") no-repeat 50% 50%;
          mask: url("svg/pencil.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-home {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 20px;
  -webkit-mask: url("svg/home.svg") no-repeat 50% 50%;
          mask: url("svg/home.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-home-circle {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -webkit-mask: url("svg/home-circle.svg") no-repeat 50% 50%;
          mask: url("svg/home-circle.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-menu {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 7px;
  -webkit-mask: url("svg/menu.svg") no-repeat 50% 50%;
          mask: url("svg/menu.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-video {
  display: inline-block;
  vertical-align: middle;
  width: 18.66666667px;
  height: 11.66666667px;
  -webkit-mask: url("svg/video.svg") no-repeat 50% 50%;
          mask: url("svg/video.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-voice {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 18.33333333px;
  -webkit-mask: url("svg/voice.svg") no-repeat 50% 50%;
          mask: url("svg/voice.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-exit {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  -webkit-mask: url("svg/exit.svg") no-repeat 50% 50%;
          mask: url("svg/exit.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-poi {
  display: inline-block;
  vertical-align: middle;
  width: 15.66666667px;
  height: 15.66666667px;
  -webkit-mask: url("svg/poi.svg") no-repeat 50% 50%;
          mask: url("svg/poi.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-signal {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 6px;
  -webkit-mask: url("svg/signal.svg") no-repeat 50% 50%;
          mask: url("svg/signal.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-wifi {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 9px;
  -webkit-mask: url("svg/wifi.svg") no-repeat 50% 50%;
          mask: url("svg/wifi.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-inspect {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/inspect.svg") no-repeat 50% 50%;
          mask: url("svg/inspect.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #6e6e6e;
}
.ui-icon-trash {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/trash.svg") no-repeat 50% 50%;
          mask: url("svg/trash.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #cc463d;
}
.ui-icon-arrow-left {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 18px;
  -webkit-mask: url("svg/arrow-left.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-left.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-battery {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 10px;
  padding: 1px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 0;
}
.ui-icon-battery:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -2px;
  margin-left: 2px;
  background-color: #000;
  width: 2px;
  height: 4px;
  border-radius: 0 2px 2px 0;
}
.ui-icon-battery > i {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 1px;
}
.ui-icon-save-stash {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  -webkit-mask: url("svg/save-stash.svg") no-repeat 50% 50%;
          mask: url("svg/save-stash.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-pop-stash {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  -webkit-mask: url("svg/pop-stash.svg") no-repeat 50% 50%;
          mask: url("svg/pop-stash.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-attention {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/attention.svg") no-repeat 50% 50%;
          mask: url("svg/attention.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-submodule {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/git-submodule.svg") no-repeat 50% 50%;
          mask: url("svg/git-submodule.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-history {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/git-history.svg") no-repeat 50% 50%;
          mask: url("svg/git-history.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-cloud-branch {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/git-cloud-branch.svg") no-repeat 50% 50%;
          mask: url("svg/git-cloud-branch.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-pull {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 14px;
  -webkit-mask: url("svg/git-pull.svg") no-repeat 50% 50%;
          mask: url("svg/git-pull.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-fetch {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 14px;
  -webkit-mask: url("svg/git-fetch.svg") no-repeat 50% 50%;
          mask: url("svg/git-fetch.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-push {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 14px;
  -webkit-mask: url("svg/git-push.svg") no-repeat 50% 50%;
          mask: url("svg/git-push.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-stash {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 11px;
  -webkit-mask: url("svg/git-stash.svg") no-repeat 50% 50%;
          mask: url("svg/git-stash.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-merge {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 14px;
  -webkit-mask: url("svg/git-merge.svg") no-repeat 50% 50%;
          mask: url("svg/git-merge.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-rebase {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 13px;
  -webkit-mask: url("svg/git-rebase.svg") no-repeat 50% 50%;
          mask: url("svg/git-rebase.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git-ask {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-mask: url("svg/git-ask.svg") no-repeat 50% 50%;
          mask: url("svg/git-ask.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-square {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("svg/square.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-square-h {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("svg/square-h.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-s {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("svg/git-s.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-d {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("svg/git-d.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-r {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("svg/git-r.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-m {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 12px;
  background: url("svg/git-m.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-state-l-gray {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 12px;
  background: url("svg/state-l-gray.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-state-c {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 12px;
  background: url("svg/state-c.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-state-l {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 12px;
  background: url("svg/state-l.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-state-c-gray {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 12px;
  background: url("svg/state-c-gray.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-shell {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  -webkit-mask: url("svg/shell.svg") no-repeat 50% 50%;
          mask: url("svg/shell.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-arrow-right-in-circle {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  -webkit-mask: url("svg/arrow-right-in-circle.svg") no-repeat 50% 50%;
          mask: url("svg/arrow-right-in-circle.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-stop-in-circle {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  -webkit-mask: url("svg/stop-in-circle.svg") no-repeat 50% 50%;
          mask: url("svg/stop-in-circle.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-playing {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 9px;
  background: url("svg/playing.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-rotation {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  -webkit-mask: url("svg/rotation.svg") no-repeat 50% 50%;
          mask: url("svg/rotation.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-circle-x {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  background: url("svg/circle-x.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-m-plus {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 12px;
  background: url("svg/git-m-plus.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-u {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 12px;
  background: url("svg/git-u.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-tgit {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 12px;
  background: url("svg/tgit.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-a {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 12px;
  background: url("svg/git-a.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-c {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 12px;
  background: url("svg/git-c.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-git-count {
  display: inline-flex;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: #555555;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
.ui-icon-git-label {
  display: inline-flex;
  font-size: 10px;
  color: #fff;
  background: #5e5e5e;
  padding: 2px 5px;
  border-radius: 10px;
  line-height: 1;
}
.ui-icon-git-dot {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  background-color: #00c777;
  border-radius: 50%;
}
.ui-icon-pause {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 10px;
  background: url("svg/pause.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-msg-upload {
  display: inline-block;
  vertical-align: middle;
  width: 72px;
  height: 72px;
  background: url("svg/msg-upload.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-community {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  -webkit-mask: url("svg/community.svg") no-repeat 50% 50%;
          mask: url("svg/community.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-link {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  -webkit-mask: url("svg/link.svg") no-repeat 50% 50%;
          mask: url("svg/link.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-minus {
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: #000;
  vertical-align: middle;
}
.ui-icon-play {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  background: url("svg/play.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-stop {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  background: url("svg/stop.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-reload {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  background: url("svg/reload.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-collapse-all {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 9px;
  -webkit-mask: url("svg/collapse-all.svg") no-repeat 50% 50%;
          mask: url("svg/collapse-all.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-detach {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 10px;
  -webkit-mask: url("svg/detach.svg") no-repeat 50% 50%;
          mask: url("svg/detach.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #888;
}
.ui-icon-attach {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 11px;
  background: url("svg/attach.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-movie {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 12px;
  background: url("svg/movie.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-audio {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 12px;
  background: url("svg/audio.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-triangle-right-o {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 8px;
  background: url("svg/triangle-right-o.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-triangle-right {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: url("svg/triangle-right.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-d-ts {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: url("svg/d.ts.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-map {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("svg/map.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-project-config-json {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("svg/project.config.json.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-ts {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: url("svg/ts.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-tsconfig-json {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("svg/tsconfig.json.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-qrcode {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: url("svg/qrcode.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-compare {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background: url("svg/compare.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-download {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 10px;
  background: url("svg/download.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-success {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("svg/success.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-cup {
  display: inline-block;
  vertical-align: middle;
  width: 54px;
  height: 32px;
  -webkit-mask: url("svg/cup.svg") no-repeat 50% 50%;
          mask: url("svg/cup.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #f2f2f2;
}
.ui-icon-safari {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url("svg/safari.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-timeline {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url("svg/timeline.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-forwarding {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  background: url("svg/forwarding.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-share-refresh {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 32px;
  background: url("svg/share-refresh.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-info {
  display: inline-block;
  vertical-align: middle;
  width: 72px;
  height: 72px;
  background: url("svg/info.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-qcloud-colorful {
  display: inline-block;
  vertical-align: middle;
  width: 62px;
  height: 45px;
  background: url("svg/qcloud-colorful.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 0.5px #b0b0b0, inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.ui-icon-checkbox-o {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: url("svg/checkbox-o.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-radio {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 0.5px #b0b0b0, inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.ui-icon-ask {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url("svg/ask.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-dot {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00c777;
}
.ui-icon-radio-o {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #00c777;
}
.ui-icon-radio-o:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.ui-icon-theme {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  -webkit-mask: url("svg/theme.svg") no-repeat 50% 50%;
          mask: url("svg/theme.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-bell {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 14px;
  -webkit-mask: url("svg/bell.svg") no-repeat 50% 50%;
          mask: url("svg/bell.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-exclamation-in-circle {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/exclamation-in-circle.svg") no-repeat 50% 50%;
          mask: url("svg/exclamation-in-circle.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #fa5151;
}
.ui-icon-go-ahead {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 14px;
  background: url("svg/go-ahead.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-cross-in-circle-o {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("svg/cross-in-circle-o.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-skip {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 10px;
  -webkit-mask: url("svg/skip.svg") no-repeat 50% 50%;
          mask: url("svg/skip.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-thumbtack {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 13px;
  -webkit-mask: url("svg/thumbtack.svg") no-repeat 50% 50%;
          mask: url("svg/thumbtack.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-thumbtack-pinned {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 13px;
  background: url("svg/thumbtack-pinned.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-material {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  -webkit-mask: url("svg/material.svg") no-repeat 50% 50%;
          mask: url("svg/material.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-git {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 12px;
  -webkit-mask: url("svg/git.svg") no-repeat 50% 50%;
          mask: url("svg/git.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-hot-key {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  -webkit-mask: url("svg/hot-key.svg") no-repeat 50% 50%;
          mask: url("svg/hot-key.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-wetest {
  display: inline-block;
  vertical-align: middle;
  width: 57px;
  height: 19px;
  background: url("image/wetest.png") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-mute {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  -webkit-mask: url("svg/mute.svg") no-repeat 50% 50%;
          mask: url("svg/mute.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-unmute {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -webkit-mask: url("svg/unmute.svg") no-repeat 50% 50%;
          mask: url("svg/unmute.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-unmute {
  vertical-align: -7px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .ui-icon-wetest {
    background: url("image/wetest@2x.png") no-repeat 50% 50%;
    background-size: cover;
  }
}
.ui-icon-default-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  background: url("image/default_avatar@2x.png") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-mini-app-circle {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 56px;
  background: url("svg/mini-app-circle.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-tick-circle {
  display: inline-block;
  vertical-align: middle;
  width: 54px;
  height: 54px;
  background: url("svg/tick-circle.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-globe {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  -webkit-mask: url("svg/globe.svg") no-repeat 50% 50%;
          mask: url("svg/globe.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-general {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  -webkit-mask: url("svg/general.svg") no-repeat 50% 50%;
          mask: url("svg/general.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-edit {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  -webkit-mask: url("svg/edit.svg") no-repeat 50% 50%;
          mask: url("svg/edit.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-notification {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url("svg/notification.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-cloud-function {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 10px;
  -webkit-mask: url("svg/cloud-function.svg") no-repeat 50% 50%;
          mask: url("svg/cloud-function.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-cloud-function-dir {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 11px;
  -webkit-mask: url("svg/cloud-function-dir.svg") no-repeat 50% 50%;
          mask: url("svg/cloud-function-dir.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-file {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 12px;
  -webkit-mask: url("svg/file.svg") no-repeat 50% 50%;
          mask: url("svg/file.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-file-js {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 11px;
  -webkit-mask: url("svg/file-js.svg") no-repeat 50% 50%;
          mask: url("svg/file-js.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #fcad00;
}
.ui-icon-file-json {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 10px;
  -webkit-mask: url("svg/file-json.svg") no-repeat 50% 50%;
          mask: url("svg/file-json.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #17a8e2;
}
.ui-icon-file-wxml {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 6px;
  -webkit-mask: url("svg/file-wxml.svg") no-repeat 50% 50%;
          mask: url("svg/file-wxml.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #f5641a;
}
.ui-icon-file-wxs {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 17px;
  background: url("svg/file-wxs.svg") no-repeat 50% 50%;
}
.ui-icon-file-wxss {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 5px;
  -webkit-mask: url("svg/file-wxss.svg") no-repeat 50% 50%;
          mask: url("svg/file-wxss.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #006cbd;
}
.ui-icon-file-img {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 12px;
  -webkit-mask: url("svg/file-img.svg") no-repeat 50% 50%;
          mask: url("svg/file-img.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #000;
}
.ui-icon-file-nodejs {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 7px;
  background: url("svg/file-nodejs.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-file-php {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 7px;
  background: url("svg/file-php.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-report {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 44px;
  background: url("svg/report.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-error {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url("svg/error.svg") no-repeat 50% 50%;
  background-size: cover;
}
.ui-icon-iPhone7Plus {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 100px;
  background: url("image/iPhone7Plus.png") no-repeat;
  background-size: cover;
}
.ui-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 25px 4px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1;
  border-radius: 3px;
  outline: 0;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 1px 0 rgba(0, 0, 0, 0.01);
}
.ui-button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.ui-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color ease 0.2s;
}
.ui-button-default {
  color: #000;
  background: linear-gradient(to bottom, #fcfcfc, #f5f5f5);
}
.ui-button-default:not([disabled]):hover:before {
  background-color: rgba(0, 0, 0, 0.06);
}
.ui-button-default:not([disabled]):active:before {
  background-color: rgba(0, 0, 0, 0.2);
}
.ui-button-mini {
  padding: 4px 10px;
  font-size: 10px;
}
.ui-button-primary {
  color: #fff;
  background: linear-gradient(to bottom, #00c777, #00ba70);
}
.ui-button-primary:not([disabled]):hover:before {
  background-color: rgba(0, 0, 0, 0.06);
}
.ui-button-primary:not([disabled]):active:before {
  background-color: rgba(0, 0, 0, 0.2);
}
.ui-button-warn {
  color: #d94e4e;
  background: linear-gradient(to bottom, #fcfcfc, #f5f5f5);
}
.ui-button-warn:hover:before {
  background-color: rgba(0, 0, 0, 0.06);
}
.ui-button-warn:active:before {
  background-color: rgba(0, 0, 0, 0.2);
}
body.dark .ui-button-default {
  background: linear-gradient(to bottom, #7b7b7b, #737373);
  color: rgba(255, 255, 255, 0.8);
}
.ui-checkbox {
  display: inline-flex;
  margin-right: 25px;
  font-size: 13px;
  -webkit-tap-highlight-color: transparent;
}
.ui-checkbox:active {
  opacity: 0.8;
}
.ui-checkbox input {
  position: absolute;
  left: -9999px;
}
.ui-checkbox [class^="ui-icon-checkbox"] {
  min-width: 14px;
  margin-top: 4px;
}
.ui-checkbox-text {
  margin-left: 10px;
}
body.dark .ui-icon-checkbox {
  background-color: #454545;
}
body.dark .ui-checkbox-text {
  color: rgba(255, 255, 255, 0.8);
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
}
.debugger {
  flex: 1;
}
.detail {
  display: flex;
  flex-direction: column;
  width: 220px;
  border-left: 1px solid #bababa;
  background-color: #fafafa;
}
.detail-bd {
  flex: 1;
}
.detail-ft {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.detail-ft a {
  color: #48515c;
  font-size: 14px;
}
.section-hd {
  display: flex;
  padding: 6px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-hd h3 {
  flex: 1;
  font-size: 12px;
  color: #111111;
  font-weight: 500;
}
.section-hd-extra {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.section-hd-extra [class^=ui-icon] {
  margin-right: 4px;
}
.section-bd {
  padding: 10px 20px;
  max-height: 120px;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section:last-child .section-bd {
  border-bottom: 0;
}
.meta {
  display: flex;
}
.meta + .meta {
  margin-top: 6px;
}
.meta-warn .value {
  color: #cc463d;
}
.meta-warn .ui-icon-circle {
  background-color: #ff1000;
}
.key {
  width: 5em;
  margin-right: 20px;
  font-size: 12px;
  color: #888888;
}
.value {
  flex: 1;
  font-size: 12px;
  color: #111111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ext {
  display: flex;
  align-items: center;
}
.ui-icon-circle {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  background-color: #00c777;
  border-radius: 50%;
}
.section-bd-warn {
  background-color: rgba(255, 16, 0, 0.1);
}
.msg {
  display: flex;
  line-height: 1.6;
}
.msg .ui-icon-circle-x {
  margin-right: 6px;
  min-width: 8px;
  margin-top: 5px;
}
.msg p {
  color: #cc463d;
  font-size: 11px;
}
.msg + .msg {
  margin-top: 4px;
}
.msg-area {
  text-align: center;
}
.msg-text-area {
  font-size: 12px;
}
.msg-text-area + .msg-button-area {
  margin-top: 20px;
}

/*# sourceMappingURL=remote.css.map */
