[Desktop Entry]
Name=微信web开发者工具
Comment=The development tools for wechat web develop
Exec=/path/to/bin/wxdt %U
Icon=/path/to/dist/package.nw/app/images/logo2.png
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.22
