html,
body, input, textarea, select, button {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Microsoft YaHei",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  sans-serif;
}

.--easy-dropdown-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: transparent;
  width: 100%;
  height: 100%;
}

.table-box td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.--opacity-40 {
  opacity: 0.4;
}

.--opacity-60 {
  opacity: 0.6;
}

.--mask {
  display: block;
  background: transparent;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  overflow: hidden;
}

.ui-icon-checkbox.disabled {
  opacity: 0.4;
}

.analysis-visit-statistics,
.analysis-usage-statistics {
  word-break: break-all;
}

.--mighty-mark {
  width: 120px;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  min-height: 100px;
  display: block;
  margin: 100px auto;
  opacity: 0;
  animation: fade-in 0.2s linear;
  animation-fill-mode: forwards;
}

.--statusbar-success-text {
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
}

.--statusbar-success-icon {
  width: 80px;
  height: 80px;
  min-height: 80px;
  margin-bottom: 20px;
  filter: grayscale(1);
}

.--dialog-placeholder-spinner {
  width: 60px;
  z-index: -1;
  height: 60px;
  display: block;
  margin: 20px auto;
  pointer-events: none;
}

.--visibility-hidden {
  visibility: hidden !important;
}

.bottom-tcb {
  z-index: -1;
}

.wrap {
  min-height: calc(100% - 50px);
}

.--secondary-text-color {
  color: #999 !important;
}

.--carving-text-shadow {
  text-shadow: 0 1px 0 #FFF;
}

.dark .--carving-text-shadow {
  text-shadow: 0 1px 2px #000;
}

.--color-red {
  color: red;
}

.--font-weight-600 {
  font-weight: 600;
}

.--max-width-100 {
  max-width: 100px;
}

.--max-width-40 {
  max-width: 40px;
}

.--display-block {
  display: block;
}

.--display-none {
  display: none !important;
}

.--frame-spinner {
  margin: 100px auto;
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 0;
}

.--init-text {
  font-size: 16px;
  text-align: center;
  cursor: default;
  margin: 0 100px;
}

.--init-lazy-area {
  opacity: 0;
  transition: opacity 0.2s linear;
  pointer-events: all;
}

.--init-lazy-area.show {
  opacity: 1;
}

i[class^="ui-icon-"].--display-block {
  display: block !important;
}

.--margin-auto {
  margin: 0 auto;
}

.--zindex-100 {
  z-index: 100;
}

.simulate-option.--zindex-100 {
  z-index: 100 !important;
}

.ui-dialog {
  position: absolute !important;
  top: -1px !important;
  will-change: transform;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1),
  inset 0 0 0 0.5px rgba(0, 0, 0, 0.3),
  0 5px 10px 0 rgba(0, 0, 0, 0.2) !important;
  z-index: 1001 !important;
  background-color: rgba(251, 251, 251, 1);
}

.ui-dialog.show.--dimed {
  background-color: rgba(220, 220, 220, 1);
}

.ui-dialog.show.--dimed .ui-input-box .ui-input {
  background-color: rgba(240, 240, 240, 1);
  transition: background-color .4s linear;
}

.ui-input-box .ui-input {
  transition: background-color .4s linear;
}

.slider {
  will-change: transform;
  transition: background-color .4s linear;
}

.slider.show {
  animation: slider-animation .4s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.work-sheet.show {
  animation: slider-animation .4s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}


.slider.has-blur-mask {
  background-color: rgba(255, 255, 255, 0.3);
}

.ui-notice {
  will-change: transform;
}

.ui-notice.has-blur-mask {
  background-color: rgba(255, 255, 255, 0.3);
}

.ui-notice + .--blur-mask {
  z-index: 800;
}

.--notification-center.close {
  animation: slider-animation-close .3s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.slider.close {
  animation: slider-animation-close .3s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.work-sheet.close {
  animation: slider-animation-close .3s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.--medium-spinner {
  width: 50px;
  height: 50px;
}

.--cursor-pointer {
  cursor: pointer;
}

.--cursor-default {
  cursor: default;
  user-select: none;
}

.--blur-mask {
  z-index: 1000;
  position: fixed;
  will-change: backdrop-filter;
  background: rgba(255, 255, 255, 0.9);
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  display: none;
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

.--flyover-blur-mask {
  width: 480px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.ui-dialog.--sub-slide-down-dialog {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.15),
  inset 0 0 0 0.5px rgba(0, 0, 0, 0.3),
  0 10px 20px 0 rgba(0, 0, 0, 0.3) !important;
}

.ui-dialog:before {
  display: none;
}

.ui-dialog.show {
  animation: dialog-animation .6s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
  transition: background-color .4s linear,
    max-height 1.2s linear,
    margin-left 1.2s linear,
    width 1.2s linear;
}

.ui-dialog.has-blur-mask {
  background-color: rgba(251, 251, 251, 0.6);
}

.ui-dialog.close {
  animation: dialog-animation-close .4s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.ui-dialog-bd,
.ui-dialog-ft {
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

.ui-dialog-ft:after {
  background-color: rgba(246, 246, 246, 0.4);
}

.dark .ui-dialog-ft:after {
  background-color: rgba(0, 0, 0, 0);
}

.ui-dialog-hd {
  background-color: rgba(255, 255, 255, 0.4);
}

.ui-dialog-ft {
  min-height: 52px;
  align-items: center;
}

/* animations */

.--fade-in {
  animation-fill-mode: forwards;
  animation: fade-in .4s linear;
}

.--fade-in-40 {
  animation-fill-mode: forwards;
  animation: fade-in-40 .4s linear;
}

.--fade-in-quick {
  animation-fill-mode: forwards;
  animation: fade-in .2s linear;
}

.--fade-out {
  animation-fill-mode: forwards;
  animation: fade-out .4s cubic-bezier(.15, .7, .3, 1);
}

.--slide-down {
  animation: slide-down .4s cubic-bezier(.15, .7, .3, 1);
}

.--slide-left {
  animation: slide-left .4s cubic-bezier(.15, .7, .3, 1);
}

.--slide-right {
  animation: slide-right .4s cubic-bezier(.15, .7, .3, 1);
}

.--slide-up {
  animation: slide-up .4s cubic-bezier(.15, .7, .3, 1);
}

.--slide-up-quick {
  animation: slide-up .2s cubic-bezier(.15, .7, .3, 1);
}

.--transion-all-quick {
  transition: all .2s linear;
}

.--x-shake {
  animation: x-shake .4s linear;
}

@keyframes x-shake {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-9px);
  }
  50% {
    transform: translateX(7px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scale-up {
   0% {
     opacity: 0;
     transform: scale3d(0.2, 0.2, 0.2);
   }

   100% {
     opacity: 1;
     transform: scale3d(1, 1, 1);
   }
}

@keyframes scale-y-up {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.--scale-y-up {
  animation: scale-y-up .4s cubic-bezier(.15, .7, .3, 1);
}

.--scale-up {
  animation: scale-up .4s cubic-bezier(.15, .7, .3, 1);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ns-slide-left {
  0% {
    opacity: 0;
    margin-top: -100%;
    transform: translate3d(100%, 100%, 0);
  }


  100% {
    opacity: 1;
    margin-top: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ns-slide-right {
  0% {
    opacity: 1;
    margin-top: 0;
    transform: translate3d(0, 0, 0);
  }

  60% {
    opacity: 0;
    margin-top: -60%;
    transform: translate3d(70%, 50%, 0);
  }

  100% {
    opacity: 0;
    margin-top: -100%;
    transform: translate3d(100%, 100%, 0);
  }
}

@keyframes x-debug-slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes x-debug-slide-down {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
}

@keyframes x-debug-view-mask-bg-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0)
  }

  100% {
    background-color: rgba(0, 0, 0, 0.3)
  }
}

@keyframes x-debug-view-mask-bg-fade-out {
  0% {
    background-color: rgba(0, 0, 0, 0.3)
  }

  100% {
    background-color: rgba(0, 0, 0, 0)
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-40 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider-animation {
  0% {
    transform: translate3d(calc(100% + 10px), 0, 0)
  }

  100% {
    transform: translate3d(0, 0, 0)
  }
}

@keyframes slider-animation-close {
  0% {
    transform: translate3d(0, 0, 0)
  }

  100% {
    transform: translate3d(calc(100% + 10px), 0, 0)
  }
}

@keyframes dialog-animation {
  0% {
    transform: translate3d(0, calc(-100% - 10px), 0)
  }

  100% {
    transform: translate3d(0, 0, 0)
  }
}

@keyframes dialog-animation-close {
  0% {
    transform: translate3d(0, 0, 0)
  }

  100% {
    transform: translate3d(0, calc(-100% - 10px), 0)
  }
}

@keyframes init-dialog-animation {
  0% {
    transform: translate3d(-50%, calc(-100% - 10px), 0)
  }

  100% {
    transform: translate3d(-50%, 0, 0)
  }
}

@keyframes init-dialog-animation-close {
  0% {
    transform: translate3d(-50%, 0, 0)
  }

  100% {
    transform: translate3d(-50%, calc(-100% - 10px), 0)
  }
}

.ui-dialog.--init-ui-dialog,
.ui-dialog.--init-ui-dialog .ui-dialog-bd {
  display: block !important;
  flex: none !important;
}

.ui-dialog.--init-ui-dialog {
  max-height: 100%;
}

.ui-dialog.--init-ui-dialog a {
  vertical-align: inherit !important;
}

.ui-dialog.--init-ui-dialog.show {
  animation: init-dialog-animation .6s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.ui-dialog.--init-ui-dialog.close {
  animation: init-dialog-animation-close .4s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.--ns-container {
  opacity: 1;
  z-index: 1000;
  padding: 20px;
  right: 0;
  padding: 0;
  pointer-events: none;
  overflow: hidden;
  transition: right .3s cubic-bezier(0.23, 1, 0.32, 1),
    top .3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity .3s linear;
}

.--ns-inner-container {
  width: 100%;
  margin: 0;
  padding: 20px;
  padding-right: 0;
  max-height: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: none;
  /* display: grid; */
}

.--ns-inner-container::-webkit-scrollbar {
  display: none;
}

.ui-notice {
  margin-right: 20px;
  width: 300px;
  will-change: transform;
  z-index: 801;
  overflow: visible;
}

/* .ui-notice.show {
  animation: ns-slide-left .4s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.ui-notice.close {
  animation: ns-slide-right 1.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
} */

.--x-debug-view-mask {
  background: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.--x-debug-view-mask > div > div {
  flex: none;
  display: block;
}

.--no-border {
  border: 0 !important;
}

.ui-dialog-ft.--no-border {
  box-shadow: none !important;
}

.--x-debug-view {
  will-change: transform;
  flex: none;
  display: block;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 80%;
  min-height: 90%;
  top: 10%;
  left: 10%;
  background: #fafafa;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.--x-debug-view::-webkit-scrollbar {
  display: none;
}

.--x-debug-view-mask::-webkit-scrollbar {
  display: none;
}

.--x-debug-view.show {
  box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.3);
  animation: x-debug-slide-up .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.--x-debug-view.close {
  animation: x-debug-slide-down .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.--x-debug-view-mask.show {
  animation: x-debug-view-mask-bg-fade-in .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.--x-debug-view-mask.close {
  animation: x-debug-view-mask-bg-fade-out .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.--x-debug-title {
  font-weight: 900;
  letter-spacing: -1px;
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(to right, red 0%, #ff5200 20%, #cc2bff 50%, #ff0000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.--x-debug-view .ui-segmented-control-item-active {
  background: linear-gradient(to right, red 0%, #ff00eb 100%) !important;
}

.--x-debug-close {
  height: 30px;
  width: 30px;
  float: right;
  margin-right: 22px;
  margin-top: 16px;
}

.--x-debug-content .function-log-time {
  background-color: #EAEAEA;
}

.--x-debug-close-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color .2s;
}

.--x-debug-close-icon:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: background-color .2s;
}

.ui-notice-msg-bd p {
  word-break: break-word;
  margin-top: 10px;
}

.ui-notice-msg-bd p:first-of-type {
  margin-top: 10px;
}

.loading-progress-inner.error {
  background-color: red;
}

.loading {
  overflow-x: hidden;
}

.--monaco-container {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 20px auto;
}

.--query-input-monaco-container {
  position: relative;
  overflow: hidden;
}

.--query-output-monaco-container {
  position: relative;
  overflow: hidden;
}

.setting-content {
  box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
}

.--monaco-container-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.--dialog-action-footer {
  display: inline-flex;
  font-size: 12px;
  float: left;
  margin-left: 10px;
  color: gray;
  max-height: 20px;
  text-overflow: ellipsis;
  max-width: 50%;
}

.--dialog-action-footer-spinner {
  height: 20px;
  width: 26px;
}

.--frame {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity .6s ease-in;
  display: flex;
  flex-direction: column;
}

#--frame-no-env {
  background-color: #f3f3f3;
}

.dark #--frame-no-env {
  background-color: rgb(57, 56, 56);
}

.--frame > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.--frame > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.x-debug-body {
  margin: 20px;
  font-size: 18px;
  color: #444;
}

.--monospace {
  font-family: SFMono-Regular,
  Consolas,
  Liberation Mono,
  Menlo,
  Courier,
  monospace;
}

.--slider-placeholder-spinner {
  width: 60px;
  z-index: -1;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -60px;
  pointer-events: none;
  transition: opacity .4s linear;
}

.--slider-placeholder-spinner.show {
  opacity: 1;
}

.--slider-placeholder-spinner.hide {
  opacity: 0;
}

.--monaco-container-div {
  transition: opacity .2s linear;
}

.--monaco-container-div.show {
  opacity: 1;
}

.--monaco-container-div.hide {
  opacity: 0;
  pointer-events: none;
}
.--ui-dialog-hero-message {
  text-align: center;
  margin: 10px;
  color: #444;
}

.dark .--ui-dialog-hero-message {
  color: #999;
}

.--border-red,
.ui-input-box .ui-input.--border-red {
  border: 1px solid red;
}

.--range-picker-active .ant-input {
  border-color: #1fbf7a;
  border-right-width: 1px !important;
}

.--range-picker-error .ant-input,
.--range-picker-error .ant-input:hover,
.--range-picker-error .ant-input:active
 {
  border-color: red;
  border-right-width: 1px !important;
}

.--date-range-error > .ant-calendar-range {
  border: 1px solid red;
}

.--date-range-error .ant-calendar-ok-btn {
  display: none;
}

.--break-word {
  word-break: break-word
}

.--text-align-center {
  text-align: center;
}

.--fake-file {
  background-color: #f9f9f9;
}

@keyframes fake-file-yellow-enhanced-in {
  0% {
    background-color: #fffdbe;
  }

  100% {
    background-color: #f9f9f9;
    opacity: 1;
  }
}

.--fake-file-yellow-enhanced-in {
  animation: fake-file-yellow-enhanced-in 2s cubic-bezier(.15, .7, .3, 1);
  animation-fill-mode: forwards;
}

.dark .--fake-file-yellow-enhanced-in {
  animation: none;
  animation-fill-mode: forwards;
}

.--flex-1 {
  flex: 1;
}

.--detail-view-placeholder-text {
  text-align: center;
  margin: 20px auto;
  font-size: 16px;
}

.--master-view-spinner {
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px auto;
}

.--loadable {
  transition: opacity .2s linear;
  opacity: 1;
}

.--loadable.--loadable-loading {
  opacity: 0.5;
}

.chart-content {
  height: 220px;
}

.--chart-error {
  font-size: 60px;
}

.--flyover-error {
  width: 60px;
  z-index: -1;
  height: 60px;
  position: absolute;
  font-size: 60px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -60px;
  pointer-events: none;
  transition: opacity .4s linear;
}

.--highchart-section .highcharts-credits {
  display: none;
}

.--position-relative {
  position: relative;
}

.--first-path-fragment::after,
.--path-search::after {
  display: none !important;
}

.--path-spinner {
  height: 12px;
  width: 20px;
  transform: scale(1.5, 1.5);
}

.--hover-bg-transparent:hover {
  background: transparent;
}

.--opacity-0 {
  opacity: 0;
}

.--path-search {
  color: #aaa;
  background: #f1f1f1;
  padding: 0 5px;
  border-radius: 3px;
}

.--path-search:hover {
  text-decoration: none !important;
}

.--focusable {
  position: relative;
  outline: none;
}

.--focusable:focus:after {
  content: '';
  border: 2px solid #00b26a;
  border-radius: 5px;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: scale(1, 0.9);
}

.footer-item,
.bottom-tcb,
.toolbar-env-label,
label
{
  cursor: default;
  user-select: none;
}

.sidebar-item {
  cursor: pointer;
}

.sidebar-item,
.table__tag,
.toolbar-env .ui-dropdown-id {
  font-size: 12px;
}

.header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.--cursor-text {
  cursor: text;
}

.ui-notice:before {
  pointer-events: none;
}

.mr-3 {
  margin-right: 3px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.ui-notice {
  user-select: text;
}

.--selectable {
  user-select: text;
  pointer-events: all;
  cursor: text;
}

.--text-selectable {
  user-select: text;
}

.--file-detail-image-placeholder {
  width: 90%;
  background: #eee;
  color: #999;
  text-shadow: 0 1px 0 #FFF;
  text-align: center;
  height: 160px;
  line-height: 160px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 30px auto;
}

.--file-detail-image {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  height: auto;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABACAMAAACZQlHRAAAAbFBMVEX////S0tLT09PV1dXR0dHPz8/X19fc3NzZ2dnOzs7W0tPh4eHg4ODV0tPj4+PV0NLQz9HS0NLKysra2trr6+vd3d3l5eX19fXo6OjZ1NfX09bX0tPq6urW0tLu7u7X1NfW09PQz8/Ly8vs7OxI/FkQAAAA70lEQVR4Xu3VR2oEMRSE4a56T6nTRMcc7n9HYzezaBD9BGKwF/oP8EGtqhP0W4XXzsoi/Lma4HM1cbitJrSewL8g9P4aRCMa0YhGNMJj2gqjTdBhqzjYRIiyVcmQqOI3Gu66+uZ4Gue4gG8Pqzw0zmebQHLpE/xt6lfRKU9fNuFDEHBpLbwclC6NNgEoRBbifW2AgqO3CQF4qV9HODj5A6IRUx3xuNs99ZeuRDSiEY3oKwl+7AHdZ1L8ECwg1KUjclEEHtEmhNCkeQOORUNAEWgmkEqVok8F84lAioYAUDCbQNTbRBjmIdxkG8cwhPkb3ZFII6oO530AAAAASUVORK5CYII=');
  background-repeat: repeat;
  background-size: 33px 32px;
}
.status-bar {
  height: 30px;
}

.--notification-center {
  position: absolute;
  will-change: transform;
  height: calc(100% - 30px);
  top: 0;
  bottom: 30;
}

.--x-debug-subtitle {
  font-size: 14px;
  margin: 20px;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

.--x-debug-title-beneath .version {
  background: #999;
  padding: 2px 6px;
  color: #FFF;
  text-shadow: 0 1px 0 #000;
  border-radius: 10px;
}

.--x-debug-hero-icon {
  width: 40px;
  height: 34px;
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(#ff012f, #ff72ba, #ec00f5);
}

.--x-debug-title-beneath {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.--notification-center.show {
  animation: slider-animation .4s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.--notification-center.close {
  animation: slider-animation-close .3s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.--notification-center-mask {
  height: calc(100% - 30px);
}

.notice-center-bd {
  overflow-x: hidden;
}

.--ns-container.--nc-shown {
  opacity: 0;
  pointer-events: none;
}

.--ns-container.--nc-shown * {
  pointer-events: none !important;
}

.--no-notifications-tips {
  position: absolute;
  text-align: center;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  font-size: 18px;
  letter-spacing: 1px;
}

.--x-debug-content .function-log-time-item.current {
  background: linear-gradient(to right, red 0%, #ff00eb 100%) !important;
}

.--x-debug-content .function-log-time-item.current .color-red,
.--x-debug-content .function-log-time-item.current .color-gray {
  color: #ffffff !important;
  text-shadow: 0 0 1px #000 !important;
}

.--flyover-table {
  width: 100%;
}

.--flyover-table th {
  line-height: 25px;
  color: #808080;
  text-align: left;
}

.--flyover-table th:first-child {
  width: 30%
}

@keyframes bg-gradient-move {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.--env-1 .header,
.--env-1 .toolbar-action-active .toolbar-button,
.--env-1 .head-control-tab .ui-segmented-control-item-active,
.--env-1 .ui-button-primary {
  background: linear-gradient(-45deg, #29a8f3, #5353f7, #4a09c7, #07e2e2) !important;
  background-size: 400% 400% !important;
  animation: bg-gradient-move 15s ease infinite !important;
}

.--env-2 .header,
.--env-2 .toolbar-action-active .toolbar-button,
.--env-2 .head-control-tab .ui-segmented-control-item-active,
.--env-2 .ui-button-primary {
  background: linear-gradient(-45deg, #fdac18, #ef5f97, #cb46f7, #f1f517) !important;
  background-size: 400% 400% !important;
  animation: bg-gradient-move 15s ease infinite !important;
}
.--env-2 .toolbar-label {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}


.--env-3 .header,
.--env-3 .toolbar-action-active .toolbar-button,
.--env-3 .head-control-tab .ui-segmented-control-item-active,
.--env-3 .ui-button-primary {
  background: linear-gradient(-45deg, #4bff00, #07a745, #20f7a7, #18d27c);
  background-size: 400% 400%;
  animation: bg-gradient-move 15s ease infinite;
}

.dark .ui-dialog-bd,
.dark .ui-dialog-ft {
  text-shadow: none;
}

.dark .--blur-mask,
.dark .--flyover-blur-mask {
  background: rgba(0, 0, 0, 0.6);
}

.dark .ui-dialog {
  border: 1px solid rgb(92, 89, 91);
}

.dark .slider.has-blur-mask {
  background: var(--c-sidebar-bg);
}

.dark .setting-content {
  background-color: var(--c-settingContent-bg);
}

.dark .--x-debug-view {
  border: 1px solid #666;
  border-top: 1px solid #888;
  background: #444;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.dark .--x-debug-content .function-log-time {
  background-color: #333;
  margin-left: -1px;
  border-left: 1px solid #666;
}

.dark .--x-debug-content .function-log-content {
  margin-right: -1px;
  border-right: 1px solid #666;
}

.dark .ui-button-primary {
  color: #fff;
  background: linear-gradient(to bottom, #00c777, #00ba70) !important;
}

.--highchart-section path.highcharts-minor-grid-line,
.--highchart-section path.highcharts-grid-line {
  stroke: #eee !important;
}

.dark .--highchart-section path.highcharts-minor-grid-line,
.dark .--highchart-section path.highcharts-grid-line {
  stroke: #666666 !important;
}

.dark .ui-dialog.show.--dimed .ui-input-box .ui-input {
  background-color: #444;
  transition: background-color .4s linear;
}

.dark .--x-debug-close-icon {
  background-color: rgba(255, 255, 255, 1);
}

.dark .color-gray {
  color: #DDD;
}

.dark .function-log-block .function-log-list {
  color: #DDD;
}

.setting-pack-due {
  right: -5px;
  font-size: 12px;
}

.--content-hero-h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.--content-hero-link {
  font-size: 16px;
}

.form-label label {
  word-break: break-word;
  min-width: 100px;
  white-space: initial !important;
  word-wrap: break-word;
}

.frontpage__banner-desc,
.frontpage__banner-title,
.frontpage__content-item-title {
  color: rgb(0, 0, 0);
}
