html,body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;    
    user-select: none;
}

.container {
    height: 100%;
}

.yellow {
    color: #FB8118;
}

.green {
    color: #2EAB49;
}

.blue {
    color: #477CB8;
}

.show-border-bottom::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

/* 企业列表选择组件 */
.corps_list {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;    
}
.corp_content_container {
    position: relative;
    height: 100%;
}
.corps_title {
    font-size: 32px;
    margin-top: 30px;
    margin-left: 16px;
}
.corp_item_row {
    padding-left: 16px;
    box-sizing: border-box;
    position: relative;
}
.corp_select_state {
    position: absolute;
    top: 20px;
    right: 32px;
    color: gray;
}
.corp_item_line {
    height: 63px;
    line-height: 63px;    
    border-bottom: 1px solid #F1F1F1;        
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-right: 60px;
}
.corp_select_arrow {
    width: 7px;
    height: 12px;
    position: absolute;
    top: 26px;
    right: 14px;
}
.corp_item_row:hover {
    background: #F9F9F9;
}

.corps_list .selected {
    background: #EEE;
}

.corp_loading_container {
    font-size:12px;    
}

.corp_empty_content {
    width: 126px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.corp_empty_icon_holder {
    width: 90px;
    height: 89px;
}

.corp_empty_text {
    font-size: 17px;
    color: #4A4A4A;
    margin-top: 22px;
}

.corp_regiter_button {
    font-size: 16px;
    color: #2C6FB3;
    padding: 6px 13px;
    border: 1px solid #7F9DC1;
    border-radius: 2px;
    width: 126px;
    box-sizing: border-box;
    margin-top: 32px;
    cursor: pointer;
}

.corp_regiter_button:active {
    opacity: 0.6;
}

/* 授权窗口 */
.authrize-dialog .weui-dialog__hd {
    padding: 0.5em 1.6em .5em;
    position: relative;
}

.authrize-dialog .authrize-content {
    padding: 15px 30px;
}

.authrize-dialog .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.authrize-dialog .authrize-ul {
    padding: 17px;    
    text-align: left;    
    font-size: 14px;
}

.authrize-main_title {
    text-align: left;
    color: #000;
    margin-top: 10px;
    padding-bottom:12px;
    position: relative;
}

/* 联系人组件 */
.contact-row {    
    box-sizing: border-box;
    padding-left: 10px;    
}

.contact-row:hover {
    background: #F9F9F9;
}

.contact-row_content {
    height: 36px;
    line-height: 36px;    
    font-size: 0;
    padding: 12px 0 12px 8px;
    border-bottom: 1px solid #F1F1F1;
    position: relative;
    display: flex;
}
.radio-icon {
    width: 23px;
    height: 23px;
    position: relative;
    top: 6px;
}

.contact-avatar {
    width: 36px;
    height: 36px;
    border-radius: 2px;
    margin-left: 10px;
}

.contact-name {
    font-size: 15px;
    color: #2C343D;
    margin-left: 17px;
}

.contact-subname {    
    font-size:12px;
    margin-left: 2px;
}

.contact-bottombar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    padding: 8px 16px 8px 12px;
    font-size: 0;
    border-top: 1px solid #F1F1F1;
    box-sizing: border-box;
}

.contact-bottombar_avatar {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    margin-right: 12px;
}

.contact-button {
    font-size: 15px;
    font-weight: bold;
    float: right; 
    cursor: pointer;
}

.contact-confirm-button {
    color: #467CB8;    
    margin-top: 4px;   
}

.contact-cancel-button {
    color: #b3b8bd;    
    margin-top: 4px;
    margin-right: 12px;
}

.contact-folder {
    width: 27px;
    height: 27px;
    position: relative;
    left: 4px;
    top: 3px;
}

.contact-folder-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #ECEFF5;
    margin-left: 12px;
    position: relative;
}

.contact-bottombar-text {
    font-size:12px;
    color: #FFF;
    padding: 4px 4px;
    border-radius: 2px;
    background: #989a9c;
    margin-right: 6px;
    position: relative;
    top: 8px;
}

/* profile组件 */
.profile-dialog {
    height: 100%;
    background-color: #F5F5F5;
    padding-top: 20px;
}

.profile-header {
    padding: 16px 14px;
    box-sizing: border-box;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;    
    background: #FFF;
    position: relative;
}

.profile-avatar {
    width: 65px;
    height: 65px;
}

.profile-male {
    width: 14px;
    height: 13px;
}

.profile-header-content {
    display: inline-block;
    margin-left: 16px;
    position: relative;
    top: -4px;
}

.profile-en-name,.profile-zh-name {
    font-size: 16px;
}

.profile-station {
    color: #9B9B9B;
    font-size: 14px;
}

.profile-detail .weui-cell__labal {
    color: #000;
    width: 40px;
    margin-right: 24px;
}

.button-group {
    margin-top: 25px;
    padding: 0 16px;
    box-sizing: border-box;
}

.button {
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
}

.button-blue {
    background: #2F7DCD;
    color: #FFF;
}

.button-light {
    margin-top: 12px;
    background: #FFFF;
    border: 1px solid #F1F1F1;
}

.button:active {
    opacity: 0.7;
}