body.dark {
  background-color: #333333;
  color: rgba(255, 255, 255, .8);
}

body.dark div.jsoneditor {
  border-color: #666666;
}

body.dark div.jsoneditor-menu {
  background-color: #444444;
  border-bottom-color: #666666;
}

body.dark table.jsoneditor-search div.jsoneditor-frame {
  background-color: #666666;
}

body.dark div.jsoneditor-field {
  color: rgba(255, 255, 255, .8);
}

body.dark div.jsoneditor-field[contenteditable=true]:hover {
  background-color: rgba(217, 217, 217, 0.11);
  border-color: transparent;
}

body.dark table.jsoneditor-search input {
  color: #fff;
  caret-color: white;
}

body.dark tr.jsoneditor-highlight, body.dark tr.jsoneditor-selected {
  background-color: #616161;
}