.loading {
  position: relative;
  margin: 50px auto;
  width: 30px;
  height: 30px;
  border: 4px solid #e0e0e0;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

.loading:after {
  content: '';
  position: absolute;
  content: '';
  background-color: #fff;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: size 2s linear infinite;
}

@keyframes spin {
  to { transform: rotate(0); }
  from { transform: rotate(360deg); }  
}

@keyframes size {
  0% { width: 10px; height: 10px; }
  50% { width: 50px; height: 50px; }
  100% { width: 10px; height: 10px; }
}
