body.dark .widget {
  background-color: #242424;
}

body.dark .lh-report {
  background-color: #242424;
}

body.dark .lh-root {
  background-color: #242424;
}

body.dark .toolbar-shadow {
  border-bottom-color: #434343 !important;
}

body.dark .lh-audit-group, body.dark .lh-audit {
  border-top-color: #434343;
  color: rgba(255, 255, 255, .8);
}
body.dark .lh-table {
  border-color: #434343;
}
body.dark .lh-score__description, body.dark .lh-score__title {
  color: rgba(255, 255, 255, .8);
}