body {
		margin: 0px;
		overflow: hidden;
		background-color: #ffffff;
}
#info {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		overflow: hidden;
		font-family: Arial, Helvetica, sans-serif;
		margin: 0;
		color: #ddd;
		background-color: #383636;
		padding: 5px;
		font-family: Monospace;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		z-index: 10;
}
.small {
		font-size: 0.8em;
		text-align: center;
}
.data_output {
		display: inline-block;
		position: relative;
		width: 40px;
		overflow: hidden;
}
